body {
    background-color: $lighter-grey;
    color: $black;
}

.jumbotron {
    padding: 4rem 1rem;
    margin-bottom: 0;
    background-color: $white;
    color: $dark-grey;
}

.jumbotron-secondary {
    background-color: $accent-bg;
    color: $accent-fg;
}

.table {
    .col-actions {
        max-width: 120px;
    }
}

.bg-medium {
    background-color: $accent-bg;
    color: $accent-fg;
}

.card-body {
    color: $dark-grey;
    min-height: 180px;
}

.card-template {
    opacity: .9;

    h3 {
        color: $light-grey;
    }

    .card-body {
        color: $light-grey;
    }
}

.card-template:hover, .card-template.active {
    opacity: 1;
    cursor: pointer;
}

.no-scroll {
    overflow-y: hidden;
}